{{ with .Site.Data.employment }}
  <section class="thirteen columns">
    <h1>{{ .name }}</h1>
    {{ range .source }}
    <article>
      <header>
        <h1>{{ .prof }}, &nbsp; &nbsp; <a href="{{ .companylink }}">{{ .companyname }}</a></h1>
        <span>
          <address>{{ .place }}</address>
          <time>{{ .time }}</time>
        </span>
      </header>
      {{ range .description }}
        <ul class="employ-des" >
           <li>{{ .des }}</li>
        </ul>
      {{ end }}
    </article>
    {{ end }}
  </section>
{{ end }}
